<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ feed.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
  <main class="container">
        <h1>{{ feed.title }}</h1>
      <ul>
    {{#each feed.items}}
      <li>
        <a href="{{this.link}}">{{ this.title }}</a>
        <p>{{ this.pubDate }}</p>
      </li>
    {{/each}}
  </ul>
  </main>
</body>
</html>